*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --disc-header-bg:#3161E0;
    --disc-blue-text:#7288D9;
    --disc-section-bg:#F6F6F6;
    --disc-btn-primary-bg:#FFFFFF;
    --disc-btn-secondary-bg:#23272A;
    --disc-btn-tertiary-bg:#8EA1E1;
}

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

ul{
    list-style: none;
}

/* #region utils  */
.d-flex{
    display: flex;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: white;

}



.text-white{
    color: white;
}


/* #endregion utils  */

/* #region general  */
.container{
    width: 70%;
    margin: 0 auto;
}

.col-small{
    width: 40%;
}

.col-large{
    width: 60%;
}

.logo{
    max-width: 100%;
}

.btn{
    padding: 7px 12px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--disc-btn-primary-bg);
}

/* #endregion general  */




/* #region header  */
header{
    background-color: var(--disc-header-bg);
    padding: 20px 0;
}

.nav{
    justify-content: space-between;
    align-items: center; 

    >div:nth-child(even){
        width: 50%;
        ul{
            justify-content: space-around;
        }
    }
    >div:nth-child(odd){
        width: 25%;
    }
    >div:last-of-type{
        justify-content: flex-end;
    }
}
/* #endregion header  */

/* #region main  */
main{
    section{
        padding: 30px 0;
    }
}

/* hero  */
.hero{
    background-color: var(--discord-hero-bg);
    .jumbotron{
        width: 60%;
        margin: 0 auto;
    }
}

/* section4  */
.col-single{
    width: 100%;
}
/* #endregion main  */

/* #region footer  */
footer{
    background-color: var(--discord-footer-bg);
}

/* link section  */
.link-section{
    padding: 10px 0 30px 0;
    border-bottom: 1px solid white;
    .link-col-large{
        width: calc((100% / 6) * 2);
    }
    .link-col{
        width: calc(100% / 6);
    }
}




/* banner section  */
.footer-banner-section{
    padding-top: 15px;
    .banner{
        padding: 10px 0;
        justify-content: space-between;
        div{
            padding: 5px;
        }
    }
}

/* #endregion footer  */



